.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    display: flex;
  }
}
