.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  flex-direction: column;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgba(7, 7, 7, 0.4) 0.22%,
    /* Opaklığı azalttık */ rgba(3, 3, 3, 0.343874) 28.25%,
    rgba(255, 255, 255, 0.1) 100% /* Parlaklık için beyaz tonu ekledik */
  );
  z-index: -1;
}

.banner-container {
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 4;
  margin-top: 6em;
}

.banner-content {
  margin-bottom: 2rem;
  /* width: 100%; */
}

.banner h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.banner p {
  font-size: 1.87rem;
  font-weight: 400;
  max-width: 850px;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }

  .banner-container {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .banner h1 {
    font-size: 3rem;
  }

  .banner p {
    font-size: 1.5rem;
  }

  .banner-container {
    width: 90%;
  }
  .banner-content {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1278px) {
  .banner h1 {
    font-size: 3rem;
  }

  .banner p {
    font-size: 1.5rem;
  }

  .banner-container {
    width: 90%;
  }
  .banner-content {
    width: 90%;
  }
}
