.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  flex-direction: column;
  padding: 1rem;
}

.slider-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider__track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  margin: 0;

  /* Scrollbar gizleme */
  scrollbar-width: none; /* Firefox */
}

.slider__track::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.slide {
  flex: 0 0 25%;
  min-width: 284px;
  max-width: 274px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgba(7, 7, 7, 0.8) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border-radius: 20px;

  padding: 1rem;
  margin: 0.5rem;
  backdrop-filter: blur(7px) brightness(1); /* Parlaklık ve bulanıklık eklendi */

  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: left; /* Yazıyı sola hizala */
  align-self: flex-start; /* Kutunun içeriğini sola yasla */
  margin-bottom: 2rem; /* Başlık üst kısmında boşluk bırak */
}

/* Mobil ekranda iki kutuyu yan yana göstermek için */
@media (max-width: 768px) {
  .slide {
    flex: 0 0 50%; /* Her kutu %50 genişlikte olacak */
    min-width: 50%; /* Mobil ekranlarda iki kutu yan yana görünecek */
  }
}

/* Büyük ekranlarda okları gizle */
@media (min-width: 769px) {
  .slider__buttons {
    display: none; /* Oklar sadece mobilde görünsün */
  }
}
