/* Galeri Konteyneri */
.p-gallery-container {
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
}

/* Başlık */
.p-gallery-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
  margin-left: 0;
}

.p-gallery-title span {
  color: #f57c00; /* Başlık alt çizgi rengi */
  border-bottom: 3px solid #f57c00;
  padding-bottom: 3px;
}
/* Galeri Ana Konteyner */
.p-gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Her sırada 4 sütun */
  gap: 15px; /* Görseller arasındaki boşluk */
  justify-items: center;
  align-items: center;
}

/* Üst Sıradaki Resimler */
.p-gallery-item.top-row img {
  width: 300px; /* Üst sıradaki görsellerin genişliği */
  height: 250px; /* Üst sıradaki görsellerin yüksekliği */
  object-fit: cover; /* Görsellerin düzgün kesilmesi */
  border-radius: 20px;
}

/* Alt Sıradaki Resimler */
.p-gallery-item.bottom-row img {
  width: 260px; /* Alt sıradaki görsellerin genişliği */
  height: 220px; /* Alt sıradaki görsellerin yüksekliği */
  object-fit: cover; /* Görsellerin düzgün kesilmesi */
  border-radius: 20px;
}

/* Hover Efekti (İsteğe Bağlı) */
.p-gallery-item img:hover {
  transform: scale(1.05); /* Hover sırasında görsel büyür */
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .p-gallery-container {
    width: 100%;
  }

  .p-gallery-title {
    font-size: 1.5rem;
  }

  .p-gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Her sırada 4 sütun */
    gap: 15px; /* Görseller arasındaki boşluk */
    justify-items: center;
    align-items: center;
  }

  .p-gallery-item.bottom-row img {
    height: 150px; /* Alt sıradaki görsellerin yüksekliği */
  }
  .p-gallery-item.top-row img {
    height: 150px; /* Üst sıradaki görsellerin yüksekliği */
  }
}
