.gallery-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.gallery-content {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: left;
}

.gallery-images-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}

.gallery-images img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s;
}

.gallery-images img:hover {
  transform: scale(1.05);
}

.gallery-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .gallery-images {
    gap: 1rem;
  }

  .gallery-images img {
    max-width: calc(50% - 0.5rem);
  }

  .gallery-title {
    font-size: 1.5rem;
  }

  .gallery-container {
    padding: 0px;
  }
}

@media (min-width: 769px) and (max-width: 1439px) {
  .gallery-images {
    gap: 0.5rem;
  }

  .gallery-images img {
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 1440px) {
  .gallery-images {
    gap: 0rem;
  }

  .gallery-images img {
    max-width: calc(25% - 1rem);
  }
}
