/* Genel container ve başlık */
.gallery-container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center; /* Yazı ve görseller aynı hizaya gelir */
  gap: 30px; /* Başlık ve görseller arasında boşluk */
  flex-direction: column;
}

/* Yazı alanı */
.gallery-content {
  flex-basis: 20%; /* Yazı alanının genişliği */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Yazıları sola hizala */
}

.gallery-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 4px solid #e67e22;
  padding-bottom: 5px;
  text-align: left; /* Yazıyı sola hizala */
}

/* Görsel galerisi alanı */
.gallery-images-container {
  flex: 1; /* Görseller alanını genişlet */
  display: flex;
  justify-content: center; /* Görselleri ortala */
  align-items: center;
}

.gallery-images {
  display: flex;
  justify-content: space-between; /* Görseller arası boşluk */
  align-items: center;
  flex-wrap: wrap; /* Görselleri birden fazla satıra yerleştir */
  gap: 3rem;
  width: 100%;
}
/* Her bir görsel */
.gallery-images img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-images img:hover {
  transform: scale(1.05);
}

/* Görsel galerisi alanı */
.gallery-images {
  display: flex;
  justify-content: space-between; /* Görseller arası boşluk */
  align-items: center;
  flex-wrap: wrap; /* Görselleri birden fazla satıra yerleştir */
  gap: 1rem; /* Görseller arasındaki boşluk */
  width: 100%;
}

/* Mobil düzen */
@media (max-width: 768px) {
  .gallery-images {
    gap: 1rem; /* Daha küçük boşluk */
  }

  .gallery-images img {
    max-width: calc(50% - 0.5rem); /* İki sütun düzeni için genişlik */
  }
}

@media (min-width: 769px) and (max-width: 1475px) {
  .gallery-images {
    gap: 0.5rem; /* Boşlukları daha kontrollü hale getir */
  }

  .gallery-images img {
    max-width: calc(25% - 1rem); /* Üç sütun düzeni */
  }
}
