.page-editor {
  max-width: 80%;
  margin: 50px auto;

  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.page-editor h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-weight: 500;
  font-size: 22px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input[type="text"]:focus {
  border-color: #343a40;
  outline: none;
}

.preview-image {
  display: block;
  margin-top: 10px;

  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 5px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #343a40;
}

/* File input'un sadece "dosya seçilmedi" yazısını gizle */
input[type="file"]::file-selector-button {
  background-color: #343a40;
  color: white;
  margin-left: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"] {
  color: transparent; /* Dosya isminin görünmesini engelle */
}

input[type="file"]::file-selector-button:hover {
  background-color: #495057;
}
