/* Genel container ve içerik stil */
.KimyasalAnkrajInfo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box; /* Padding'i dahil eder */
  margin-bottom: 2rem;
}

/* İçeriğin genişliği ve hizalaması */
.KimyasalAnkrajInfo-content {
  width: 80%; /* Ekranın %90 genişliğinde */
  display: flex;
  justify-content: space-between; /* İçeriği yatayda ortalar */
}

/* Sol kısımdaki metin bölümü */
.KimyasalAnkrajInfo-text {
  flex: 1;
  color: #333;
  max-width: 770px;
  text-align: left; /* Sol hizalı metin */
}

/* Başlık ve paragraf stilleri */
.KimyasalAnkrajInfo-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.KimyasalAnkrajInfo-description {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  /* İçeriğin genişliği ve hizalaması */
  .KimyasalAnkrajInfo-container {
    padding: 0px;
  }
  .KimyasalAnkrajInfo-title {
    font-size: 1.5rem;
  }
}
